body {
    background-color: #021025;;
    margin: 0;
    padding: 0;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}




a{
    text-decoration: none;
    color: azure;
    padding: 8px;
 }

footer{
    padding: 0 8px;
}
#pfooter{
    font-size: 18px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #6b82ad;
}

.afooter{

    float: right;
    margin-right: 100px;
    font-size: 18px;
}

.afooter a:hover{
    color: #6b82ad;
}
